<div class="question-sidelist">
  <div class="question-sl_frame">
    <div class="question-sl_header">
      <h3>人気のタグ</h3>
    </div>
    <% tags = Tag.order(frequency: :desc, updated_at: :desc).limit(5) %>
    <div class="question-sl_content">
      <% if tags.count==0 %>
        <div class="question-empty">
          <p>条件に一致する質問の投稿はありません。</p>
        </div>
      <% end %>
      <ul>
        <% tags.each do |f| %>
          <li>
            <div class="question-sl_itembox">
              <a href="<%= tag_url(f.id) %>" ><%= f.name %></a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="question-sl_bottom">
      <a href="<%= tags_url %>">もっと見る</a>
    </div>
  </div>
</div>