<%= render "shared/navibar" %>
<div class="container-main">
  <div class="container-default">
    <h2>質問内容の編集</h2>
    <%= render partial: 'questions/form' , locals: {question: @question} %>
  </div>
</div>
<%= render "shared/footer" %>