<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p><%= @question.user.name %> 様</p>
    <p>あなたの投稿した質問に回答がありました。</p>
    <p><%= link_to question_url(@question) %></p>
  </body>
</html>