<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p><%= @user.name %> 様</p>
    <p>あなたの投稿した質問への回答がありました。<br />
    <a href="<%= question_url(@question) %>"><%= question_url(@question) %></a></p>
  </body>
</html>