nav.navibar {
    max-width: 95%;
    margin: 0 auto;
    ul {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        li {
            @media screen and (max-width:767px) { 
                margin: 0 10px 0 0;
            }
            @media screen and (min-width:768px) and (max-width:991px) { 
                margin: 0 15px 0 0;
            }
            @media screen and (min-width:992px) {
                margin: 0 20px 0 0;
            }
            float: left;
            display: block;
            padding: 0;
        }
    }
    a {
        @media screen and (max-width:767px) { 
            height: 30px;
            font-size: 12px;
        }
        @media screen and (min-width:768px) and ( max-width:991px) {
            height: 40px;
            font-size: 14px;
        }
        @media screen and (min-width:992px) {
            height: 50px;
            font-size: 15px;
        }
        display: table-cell;
        vertical-align: middle;
        color: white;
        text-decoration: none;
        i {
            @media screen and (max-width:767px) { 
                font-size: 15px;
                padding: 0 5px 0 0;
            }
            @media screen and (min-width:768px) { 
                padding: 0 2px 0 0;
            }
        }
        span {
            @media screen and (max-width:767px) { 
                display: none;
            }
        }
    }
    a:hover {
        color: #e73562;
    }
}

.navbar-brand {
    float: left;
    margin: 0;
    padding: 0;
    a {
        @media screen and (max-width:767px) { 
            font-size: 1.5em !important;
        }
        @media screen and (min-width:768px) {
            font-size: 2em !important;
        }
        padding: 0 10px 0 10px;
        font-family: 'Limelight', cursive;
    }
}

.navbar-main {
    margin: 0;
    padding: 0;
}

.navbar-new_question {
    float: left;
    text-align: center;
    font-weight: bold;
    margin: 0 20px 0 0;
    padding: 9px 0 0 0;
    a {
        font-size: 1.2em !important;
    }
}

.btn-new_question {
    height: 32px !important;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(#ffa443, #ff7400);
    background: -moz-linear-gradient(#ffa443, #ff7400);
    background: -o-linear-gradient(#ffa443, #ff7400);
    background: -ms-linear-gradient(#ffa443, #ff7400);
    background: linear-gradient(#ffa443, #ff7400);
    padding: 4px 15px;
}

.btn-new_question:hover {
    background: rgba(255,164,57,0.9);
    color: white !important;
}

.navbar-middle {
    float: left;
    margin: 0;
    padding: 0;
}

.navbar-menu {
    @media screen and (min-width:992px) { 
        display: none;
    }
    text-align: right;
    button {
        @media screen and (max-width:767px) {
            margin: 2px 10px 0 0;
            padding: 2px 7px;
        }
        @media screen and (min-width:768px) and (max-width:991px) {
            margin: 5px 15px 0 0;
            padding: 3px 9px;
        }
        border: solid 1px white;
        border-radius: 5px;
        color: white;
        background-color: #043c78;
    }
    button:hover {
        color: #043c78;
        background-color: white;
    }
}

.navbar-right {
    float: right;
    @media screen and (min-width:992px) { 
        display: block !important;
    }
}